version: "3.8"
services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack_main
    ports:
      - "4566:4566"    # main edge port
      - "4571:4571"
    environment:
      - SERVICES=ec2,iam,sts,route53,cloudformation,logs
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - "./.localstack:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
